# Pretext build and run stuff
build/
.cache
node_modules/
.error_schema.log
author_build.log
generated-assets/
logs/
output/
pretext/generated
published/

# Compiled files
*.pyc
*.class
*.jar

# Machine specific files
.DS_Store
.vscode/

# Some files I generate
all-files.mk
pretext/files.txt
pretext/full-main.ptx
words.txt

# For now just write bits of Java to make formatting easier but teh source of
# truth is whatever's in the ptx
pretext/**/*.java

# SQLite db files
*.db