# Build output (builder/build.ts -> build/site; CI stages build/out)
build/
node_modules/

# Compiled files
*.pyc
*.class
*.jar

# Machine specific files
.DS_Store
.vscode/

# Some files I generate
all-files.mk
pretext/files.txt
pretext/full-main.ptx
words.txt

# For now just write bits of Java to make formatting easier but teh source of
# truth is whatever's in the ptx
pretext/**/*.java

# SQLite db files
*.db